<div class="ui grid">
    <div class="four wide column">
      <h3>Create a Pin</h3>
      <form id="marker_form" >
        <input type="text" name="name" value="" placeholder="Name">
        <input type="text" name="location" value="" placeholder="Address">
        <input type="button" name="submit" value="Add Pin">
      </form>
      <h3>Pin List</h3>
      <div id="pin_list" class="ui link list"></div>
    </div>
    <div class="twelve wide column">
      <div id='map-one' class='map'> </div>
    </div>
</div>

<script id="pin-template" type="text/x-handlebars-template">
  <a class='item' data-lat="{{lat}}" data-lng="{{lng}}" data-id="{{id}}">
    {{name}} - {{location}}
  </a>
</script>
